.platform-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.platform-icon svg {
  width: 100%;
  height: 100%;
}

.platform-icon--small {
  width: 40px;
  height: 40px;
}

.platform-icon--medium {
  width: 40px;
  height: 40px;
}

.platform-icon--large {
  width: 40px;
  height: 40px;
}
